<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8" isELIgnored="false" %>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/login.css" type="text/css">
<%--<script src="https://unpkg.com/vue/dist/vue.js"></script>--%>
<script src="js/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录页</title>
</head>

<body>
<div class="cover">
	<div class="right_cell">
		<div class="topBanner">
			<span class="bannerBtn" v-bind:class="{ active: isLogin }" v-on:click="chooseType">登录</span>
			<el-divider direction="vertical"></el-divider>
			<span class="bannerBtn" v-bind:class="{ active: !isLogin }" v-on:click="chooseType">注册</span>
		</div>
		<div class="bottomArea">
			<!-- 登录 -->
				<div v-if="isLogin" class="content">
					<div class="inputArea">
						<div class="input userName">
							<span class="first">用户名：</span>
								<el-input placeholder="请输入用户名" v-model="loginUsername" ></el-input>
						</div>
						<div class="input passWord">
							<span class="first">密码：</span>
								<el-input placeholder="请输入密码" v-model="loginPassword" show-password ></el-input>
						</div>
					</div>
					<div class="loginBtn" v-on:click="login">登录</div>
				</div>
			</el-form>
			<!-- 注册 -->
			<div v-else class="content">
				<div class="inputArea">
					<div class="input userName">
						<span class="first">用户名：</span>
						<el-input placeholder="请输入用户名" v-model="registerUsername" ></el-input>
					</div>
					<div class="input passWord">
						<span class="first">密码：</span>
						<el-input placeholder="请输入密码" v-model="registerPassword" show-password ></el-input>
					</div>
					<div class="input phone">
						<span class="first">手机号：</span>
						<el-input placeholder="请输入手机号码" v-model="phone"></el-input>
					</div>
					<div class="input email">
						<span class="first">邮箱：</span>
						<el-input placeholder="请输入邮箱" v-model="email"></el-input>
					</div>
				</div>
				<div class="loginBtn" v-on:click="register">注册</div>
			</div>
		</div>
	</div>
</div>


	<script>
        var app = new Vue({
            el:'.cover',
            data:{
                loginUsername: "",
                loginPassword: "",
                registerPassword: "",
                registerUsername: "",
                phone: "",
                email: "",
                isLogin: true,
            },
            methods:{

                checkSpecificKey(str) {
                    var specialKey = "`~!#$^&*【】";
                    for (var i = 0; i < str.length; i++) {
                        if (specialKey.indexOf(str.substr(i, 1)) != -1) {
                            return false;
                        }
                    }
                    return true;
                },
				checkLogin(){
                    if (app.loginUsername==null||app.loginUsername==""||app.loginUsername.length==0||app.loginUsername=='undefined'){
                        return '登录账号为空'
					}
                    if (app.loginPassword==null||app.loginPassword==""||app.loginPassword.length==0||app.loginPassword=='undefined'){
                        return '登录密码为空'
                    }
                    return "成功"
				},
                // 选择tab
                chooseType: function(e) {
                    e.target.innerText == "登录"
                        ? (this.isLogin = true)
                        : (this.isLogin = false);
                    this.loginUsername = "";
                    this.loginPassword = "";
                },
                // 登录
                login: function(e) {
				    debugger;
					var checkLoginRelult = app.checkLogin();
					if (checkLoginRelult=='登录账号为空'){
					    alert('账号不能为空!');
					    return;
					}
                    if (checkLoginRelult=='登录密码为空'){
                        alert('密码不能为空!');
                        return;
                    }
                    console.log("登录");
                    var alarm = {};
                    alarm.username=app.loginUsername;
                    alarm.password=app.loginPassword;
                    $.post("/user/doLogin",alarm,function(data){
                        data1=JSON.parse(data);
                        if(data1=='登录成功！'){
                            window.location.href='/main.jsp';
                        }else {
                            alert(data1);
                        }
                    });

                },
                // 注册
                register: function(e) {
                    alert("注册成功!");
                }
			}
		});
	</script>

</body>

</html>