.topCover {
  width: 100%;
  height: 100%;
  background-color: #fff;

  .goodList {
    width: calc(100% - 400px);
    min-height: calc(100% - 410px);
    margin: 0 200px;
    background-color: #fff;
    position: relative;

    .empty {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/image/data_empty.png");
      background-size: 300px 200px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .goodItem {
      width: calc(100% - 40px);
      padding: 20px 0 20px 40px;
      background-color: #ffff;
      border-bottom: 4px solid #e9e9e9;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      .chooseBtn {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../assets/image/choose.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &.active {
          background-image: url("../assets/image/choose_active.png");
        }
      }

      .goodInfo {
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .good_img {
          width: 180px;
          height: 100px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .good_name {
          font-size: 20px;
          font-weight: bold;
          color: #000;
        }

        .good_price {
          font-size: 20px;
          font-weight: bold;
          color: #f56c6c;
          margin-left: 30px;
        }

        .good_type {
          font-size: 20px;
          color: #000;
          font-weight: bold;
          margin-left: 30px;
        }
      }

      .handleArea {
        width: 20%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .change {
          display: block;
          padding: 10px 20px;
          border: 1px solid #000;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }

        .delete {
          display: block;
          padding: 10px 20px;
          background-color: #000;
          color: #fff;
          transition: all 0.3s;
          margin-left: 40px;
          border: 1px solid #000;
          cursor: pointer;

          &:hover {
            background-color: rgb(44, 44, 44);
          }
        }
      }
    }
  }

  .settlement {
    width: calc(100% - 440px);
    margin: 20px 200px;
    padding-left: 40px;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;

    .settleLeft {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;

      .chooseBtn {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("../assets/image/choose.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        cursor: pointer;

        &.active {
          background-image: url("../assets/image/choose_active.png");
        }
      }

      .tips_all {
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
      }

      .place {
        display: block;
        width: 2px;
        height: 20px;
        background-color: #525050;
        margin-right: 20px;
      }

      .chooseNum {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .settleRight {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;

      .totalPrice {
        display: block;
        padding: 0 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .payBtn {
        width: 100px;
        padding: 10px;
        font-weight: bold;
        background-color: rgb(116, 116, 116);
        color: rgb(226, 226, 226);
        cursor: pointer;

        &.active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
